<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #bdc3c7, #2c3e50);
    }
</style>

<div class="login-page" style="width: 80vw;">
    <div class="form">
        <div>
            <h2 class="title" style="color: #2c3e50;">Edit Industry Details</h2>
        </div>
        <form class="login-form" action="/admin/edit-industry/{{industry._id}}" method="post"
            enctype="multipart/form-data">
            <input type="text" name="industryName" placeholder="Industry Name" value="{{industry.industryName}}"
                required />
            <textarea name="description" placeholder="Short description about industry" id="" cols="10" rows="5"
                required> {{industry.description}}"</textarea>
            <input type="text" name="place" placeholder="place" value="{{industry.place}}" required />
            <input type="text" name="phone" placeholder="Phone No" value="{{industry.phone}}" required />
            <input type="email" name="email" placeholder="Email Id" value="{{industry.email}}" required />
            <label for="">Update Industry Image</label>
            <img src="/images/industry/{{industry._id}}.jpg" width="100" height="100" alt="">
            <input type="file" accept="" name="image">

            <button type="submit" style="background: #00c3ff;">SUBMIT</button>
            <a href="/admin/view-all-industries" class="font-weight-bold" style="text-decoration: none;">Back</a>
        </form>
    </div>
</div>