<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #bdc3c7, #2c3e50);
    }
</style>

<div class="login-page" style="width: 80vw">
    <div class="form">
        <div style="display: flex;justify-content: space-between;margin-bottom:15px">
            <a href="/admin"><button style="background: rgb(206, 16, 16);"> Back</button></a>
            <h2 class="title" style="color: #2c3e50;"> Libraries List</h2>
            <a href="/admin/add-library"><button style="background: rgb(16, 206, 102);"> Add New library</button></a>
        </div>
        <table id="main_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Place</th>
                    <th>Timings</th>
                    <th>operations</th>
                </tr>
            </thead>
            <tbody>
                {{#each libraries}}
                <tr>
                    <td>{{libraryName}}</td>
                    <td>{{email}}</td>
                    <td>{{place}}</td>
                    <td> {{time}}</td>
                    <td><a href="/admin/delete-library/{{_id}}"
                            onclick="return confirm('Are you sure you want to delete this library?');"><button
                                class="btn" style="background: red;">delete</button></a>
                        <a href="/admin/edit-library/{{_id}}"><button class="btn"
                                style="background: rgb(106, 79, 255);">Edit</button></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        $("#main_table").dataTable();
    });
</script>