<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #F2994A, #F2C94C);
    }
</style>

<nav class="navbar navbar-light bg-light mb-5 d-flex justify-content-space-between">
    <h1 class="ms-3">Places</h1>
    <a class="btn-danger me-5 p-2" href="/tourist" style="text-decoration: none;">Back</a>
</nav>

<div class="container library">
    <div class="row">
        {{#if places}}
        {{#each places}}
        <div class="col-4">
            <div class="card p-2">
                <img src="/images/Turistmodel/{{_id}}.jpg" class="image">
                <div class="container">
                    <h4><b>{{place}}</b></h4>
                    {{!-- <h6>{{description}} </h6> --}}
                    <h6>Pirce per head:{{Price}}</h6>
                    <h6>Guid Number :{{phone}}</h6>
                    <h6>Guid Name:{{guidName}}</h6>
                    <a href="//api.whatsapp.com/send?phone={{phone}}&text=Hai Guid i am looking for your help to visit {{place}}" class="btn btn-success">Whatsapp Alert</a>
                    {{!-- <h6>minimum Price from <b>₹{{minPrice}}</b></h6> --}}
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <center>
            <h1 style="color:white; transform:scale(1.2);transition:all 0.5s ease;">No Place where added !!!!</h1>
        </center>
        {{/if}}
    </div>
</div>