<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #0cebeb, #20e3b2, #29ffc6);
    }
</style>

<nav class="navbar navbar-light bg-light mb-5 d-flex justify-content-space-between">
    <h1 class="ms-3">Job Vacancies</h1>
    <a class="btn-danger me-5 p-2" href="/job-seeker" style="text-decoration: none;">Back</a>
</nav>

<div class="container library">
    <div class="row">
        {{#if jobs}}
        {{#each jobs}}
        <div class="col-4">
            <div class="card p-2">
                <div class="container">
                    <h4><b>{{jobName}}</b></h4>
                    <h5>Company <b>{{companyName}}</b></h5>
                    <h6>{{description}} </h6>
                    <h6>{{place}}</h6>
                    <h6>{{phone}}</h6>
                    <h6>{{email}}</h6>
                    <h6>Vacancies <b>{{vacancy}}</b></h6>
                    <h6>Salary <b>₹{{salary}}</b></h6>
                    <a href="/job-seeker/applyJob/{{email}}" class="btn btn-success">Easy Applay</a>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <center>
            <h1 style="color:white; transform:scale(1.2);transition:all 0.5s ease;">No Jobs Found !!!!</h1>
        </center>
        {{/if}}
    </div>
</div>